.ganttVerticalContainer {
  width: 100%;
  flex: 1;
  overflow: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
  border-left: 1px solid #eff2f6;
}

.horizontalContainer {
  width: 443px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
  border: 1px solid #eff2f6;
  border-radius: 4px;
}
.ganttToolsContainer {
  display: flex;
  align-items: center;
  height: 40px;
}
.toolsBar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  top: 0;
  right: 0;
  text-align: right;
  overflow: hidden;
  background: transparent;
  background: var(--tools-background);
  border-top-right-radius: 8px;
}
