.gridRow {
  fill: transparent;
}

.gridRowSelect {
  fill: var(--primary-2);
}

.gridRowLine {
  stroke: transparent;
}

.gridTick {
  /* stroke: var(--disable-color); */
  stroke: rgba(189, 198, 217, 0.5);
}

.today {
  position: relative;
}

.todayLine {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
}
