.calendarBottomText {
  text-anchor: middle;
  fill: var(--secondary-text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #eff2f6;
}

.calendarTopText {
  text-anchor: middle;
  fill: var(--secondary-text-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-weight: bold;
}

.calendarHeader {
  fill: transparent;
  stroke-width: 1;
}

.calendarLine {
  stroke: #eff2f6;
}
