.taskListWrapper {
  display: table;
  width: 100%;
  border-top: none;
}

.taskListTableRow {
  /* display: table-row; */
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  /* width: 443px; */
  /* border-bottom: 1px solid rgba(189, 198, 217, 0.5); */
  background-color: transparent;
  border-bottom: 1px solid #eff2f6;
}
/* .taskListTableRow:hover {
  background-color: var(--header-hover-color);
} */
/* .taskListTableRow:last-child {
  border-bottom: none;
} */
.taskListTableRow:hover {
  background-color: var(--header-hover-color);
}

.taskListCell {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  border-right: 1px solid #eff2f6;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.taskListCell:last-child {
  border-right: none !important;
}

.taskListNameWrapper {
  display: flex;
  align-items: center;
}

.taskListExpander {
  color: rgb(86 86 86);
  font-size: 12px;
  /* padding: 0.15rem 0.2rem 0rem 0.2rem; */
  user-select: none;
  cursor: pointer;
}
.taskListEmptyExpander {
  font-size: 12px;
  padding-left: 12px;
  user-select: none;
}
