.ganttTable {
  display: table;
  width: 442px;
  border: 1px solid rgba(189, 198, 217, 0.5);
  border-right: none;
}

.ganttTable_Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 442px;
  list-style: none;
  background-color: transparent;
}

.ganttTable_HeaderSeparator {
  margin-left: -2px;
  border-right: 1px solid rgb(196, 196, 196);
  opacity: 1;
}

.ganttTable_HeaderItem {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  /* flex: 1; */
  vertical-align: -webkit-baseline-middle;
  vertical-align: middle;
}
.ganttTable_HeaderItem_reSize {
  position: absolute;
  right: -5px;
  height: 100%;
  width: 1px;
  padding: 0 6px;
  cursor: col-resize;
}
.ganttTable_HeaderItem_reSize_Inner {
  width: 1px;
  height: 100%;
  background: rgba(189, 198, 217, 0.5);
}
